<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uic.group19.a422ndbank">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainApp.HelpPage.QuestAnswerActivity"></activity>
        <activity android:name=".MainApp.HelpPage.HelpActivity" />
        <activity android:name=".MainApp.Settings.SettingsActivity" />
        <activity android:name=".MainApp.AccountCreation.AccountCreationActivity"></activity>
        <activity android:name=".MainApp.PayBillsActivity" />
        <activity android:name=".MainApp.TransMoneyActivity" />
        <activity android:name=".MainApp.DepositActivity" />
        <activity android:name=".MainApp.TransHistory.TransHistoryActivity" />
        <activity android:name=".MainApp.MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>